@model AlphaOne.Models.Commodity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commodity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @{ 


            var myChart = new Chart(width: 600, height: 400)
            .AddTitle("Oil Prices")
            .AddSeries(yFields: "Date")
            .DataBindTable(dataSource: ViewBag.com, xField: "Price")
            .Write();
            }
        </dt>

        <dd>
          
        </dd>

    </dl>
</div>
<p>

</p>
