@model AlphaOne.Models.Commodity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commodity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        <img src="@Url.Action("Graph","GraphController"), alt="Price history chart"/>
        </dt>
    </dl>
</div>
<p>

</p>
