@model AlphaOne.Models.Commodity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


    <h4>Commodity</h4>
    <hr />
       <body>
           <p>
            
              <img src="@Url.Action("OilGraph")", alt="Price history chart"/>
               </p>
       </body>     
<p>

</p>
