body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url(/Images/IndexBackground.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
a.navbar-brand{
    color:black;
}
#index-header{
   float:initial;
   word-spacing:20em;
   color:black;
}
#commodities-table{
    max-width: 40%;
    color:#000;
    vertical-align:middle; 
    display:inline;
    padding-top: 100px;
}
#money-table {
    float:right;
    max-width: 40%;
    color:#000;
    vertical-align:middle; 
    display:inline;
    padding-top: 30px;
}
#footer{
    color:darkorange;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

img {
    position: absolute;
    left: 55%;
    top: -100px;
    z-index: 1;
    max-height: 800px
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
